/*@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");*/

/*========================================
                Navbar
=========================================*/
.nav-link-header{
    font-size: 30px;
    opacity: 1;
    /*background-color: green;*/
}
.nav-link-header:hover{
    color: black;
    transition-duration: .5s;
    background-color: green;
    opacity: 0.7;
}

.header-img {
    max-height: 100px;
}

.btn-group {
    float: right;
}